.navbar {
	background-color: transparent;
	border-color: transparent;
}
.nav .navbar-nav{
	color: black;
}
.bottom-left {
  position: absolute;
  bottom: 350px;
  left: 160px;
  font-size: 40px;
  font-family: verdana;
  color: grey;
  width: 1000px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #ff471a;
  padding: 5px;
  height: 56px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 20px;
}

.searchTerm:focus{
  color: #ff471a;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 115px;
  height: 56px;
  border: 1px solid #ff471a;
  background: #ff471a;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 55%;
  left: 27%;
  transform: translate(-30%, -50%);
}
.col-sm-4{
	text-align: justify;
}
body{
	font-family: verdana;
}
.text1{
	color: #666666;
	font-size: 30px;
	margin-left: 85px;
}
.text2{
color: #a6a6a6;
	font-size: 20px;
	margin-left: 110px;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  font-family: Montserrat, sans-serif;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) "  ";
  color: red;
  font-weight: bold;
}
.btn1{
	background-color: #d9d9d9;
	padding: 5px 10px 5px 10px;
	color:  #404040;
	font-size: 15px;
}
.sect{
	color:#737373;
	font-size: 20px;
	position: relative;
	top: 10px;

}